<p-card>
    <span class="p-float-label">
        <input pInputText id="id" />
        <label htmlFor="id">id</label>
    </span>
    <br>
    <span class="p-float-label">
        <input pInputText id="description" />
        <label htmlFor="description">Description</label>
    </span>
    <br>
    <span class="p-float-label">
        <p-inputNumber inputId="price"> </p-inputNumber>
        <label htmlFor="price">price</label>
    </span>
    <br>
    <button pButton pRipple label="SAVE" class="p-button-success"></button>
</p-card>